{% extends "layout.html" %}
{% block content %}

	<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
          <img src="{{ url_for('static', filename='res/Foundation2.jpg') }}" alt="IMG" class="image">
        </div>
        <script >
          $('.js-tilt').tilt({
            scale: 1.25
          })
        </script>

			<form method="POST" action="register">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4 text-center">
						Sign Up
					</legend>
					<div class="form-group">
						{{ form.username.label(class="form-control-label") }}
						{% if form.username.errors %}
								{{ form.username(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg") }}
						{% endif %}
					</div>

					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}
						{% if form.email.errors %}
							{{ form.email(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}
					</div>

					<div class="form-group">
						{{ form.password.label(class="form-control-label") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg") }}
						{% endif %}
					</div>

					<div class="form-group">
						{{ form.confirm_password.label(class="control-group-label") }}
						{% if form.confirm_password.errors %}
							{{ form.confirm_password(class="form-control is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.confirm_password(class="form-control form-control-lg") }}
						{% endif %}
					</div>

					<div class="container-login100-form-btn">
           			 {{ form.submit(class="login100-form-btn") }}
          			</div>
					
					<div class="border-top text-center p-t-15">
						<small class="text-dark txt2">
							Already registered? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
						</small>
					</div>
				</fieldset>
				
			</form>
			
		</div>
		
	</div>

{% endblock content %}